/*body{
    background: url("../images/background-login.jpg")no-repeat;
    background-size: cover;
    font-size: 16px;
}*/
.container{
    text-align: center;
    margin: 10% auto;
}

.submit{
    width: 20%;
    position: relative;
    left: 2%
}