<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.4.1.min.js"></script>
    <script src="../static/js/popper.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/index.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">教师题库</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <image class="" src="../static/img/search.png" style="width: 30px;height:30px" onclick="" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="../index">首页</a></li>
                    <li><a href="../questions">题库</a></li>
                    <li><a href="../papers">试卷</a></li>
                    <li class="active"><a href="#">测试</a></li>
                </ul>
            </div>

            <div id="extwaiimpotscp" style="display:none" v="{3596"
                f="ZXpNMU9UWm1PREV3TFdKbU5UQXRORGRsTWkxaU5UUmhMVEl4TWpobFltUmpOVEUzT1gwPQ==" q="5f007b63" c="42.92"
                i="53.52" u="2.128" s="19060320" w="false" m="BMe=" vn="adgrd"></div>
        </div>
    </div>
</body>

</html>