<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>试卷</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/papers.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">教师题库</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="../../index">首页</a></li>
                    <li><a href="../../question/list/1">题库</a></li>
                    <li class="active"><a href="#">试卷</a></li>
                    <li><a href="../../test/list/1">测试</a></li>
                    <li><a href="../../student/list/1">学生</a></li>
                    <li><a href="../../record/list/1">记录</a></li>
                    <li><a href="../../logout"></a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div style="display: none" id="add">
                    <h1>添加试卷</h1>
                    <div class="input-group col-sm-6">
                        <span class="input-group-addon" id="basic-addon1">试卷标题</span>
                        <input type="text" class="form-control title">
                        <span class="input-group-addon" id="basic-addon1">时长(min)</span>
                        <input type="text" class="form-control duration">
                        <div class="input-group-btn navbar-right">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok" onclick="submitAdd()"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" onclick="cancelAdd()"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="input-group col-sm-6">
                        <span class="input-group-addon">题目编号</span>
                        <input type="text" class="form-control question_id">
                        <span class="input-group-addon">题目分数</span>
                        <input type="text" class="form-control score">
                        <div class="input-group-btn navbar-right">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-plus" onclick="addQuestion()"></span>
                            </button>
                        </div>
                    </div>
                    <h3>试卷题目</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>题目编号</th>
                                <th>题目分数</th>
                            </tr>
                        </thead>
                        <tbody id="questions_add">
                        </tbody>
                    </table>
                </div>
                <div id="papers">
                    <div th:if="${total_page} le 0">
                        <h1>你还没有创建试卷</h1>
                    </div>
                    <div class="btn-group navbar-right" role="group">
                        <button type="button" class="btn btn-default" id="edit">
                            <span class="glyphicon glyphicon-plus" onclick="addPaper()"></span>
                        </button>
                    </div>
                    <div th:if="${total_page} gt 0">
                        <h2>试卷情况</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>试卷编号</th>
                                    <th>试卷名</th>
                                    <th>时长(min)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="paper:${test_papers}">
                                    <td><a th:href="@{'../'+${paper.test_paper_id}}"
                                            th:text="${paper.test_paper_id}"></a></td>
                                    <td th:text="${paper.title}"></td>
                                    <td th:text="${paper.duration}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination navbar-right" id="select">
                                <li>
                                    <a aria-label="Previous" id="before">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li id="last">
                                    <a aria-label="Next" id="after">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>


        </div>
    </div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        var total_page = [[${ total_page }]];
        var page = [[${ page }]];
        initData(total_page, page);
    });
</script>

</html>