<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>试卷详情</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/paper.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">教师题库</a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="index">首页</a></li>
                    <li><a href="quesion/list">题库</a></li>
                    <li class="active"><a href="#">试卷</a></li>
                    <li><a href="test/list">测试</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div class="btn-group navbar-right" role="group">
                    <button type="button" class="btn btn-default" id="edit">
                        <span class="glyphicon glyphicon-pencil" onclick="editPaper()"></span>
                    </button>
                    <button type="button" class="btn btn-default submit" style="display: none">
                        <span class="glyphicon glyphicon-ok" onclick="submitEdit()"></span>
                    </button>
                </div>
                <div>
                    <h1>试卷名:
                        <input type="text" class="edit" id="title" th:text="${title}"
                            style="border: hidden;background: 0%" value="测试" disabled>
                    </h1>
                    <h2>持续时长(min):
                        <input type="text" class="edit" id="duration" th:text="${duration}"
                            style="border: hidden;background: 0%" value="50" disabled>
                    </h2>
                </div>
                <div class="add" style="display: none">
                    <div class="btn-group" role="group">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-plus" onclick="addQuestion()"></span>
                        </button>
                    </div>
                    <div class="input-group col-sm-6" id="add" style="display: none">
                        <span class="input-group-addon" id="basic-addon1">题目id</span>
                        <input type="text" class="form-control id">
                        <span class="input-group-addon" id="basic-addon1">题目分数</span>
                        <input type="text" class="form-control score">
                        <div class="input-group-btn">
                            <button type="button" class="btn btn-default" id="add">
                                <span class="glyphicon glyphicon-ok" onclick="submitAdd()"></span>
                            </button>
                            <button type="button" class="btn btn-default" id="add">
                                <span class="glyphicon glyphicon-remove" onclick="cancelAdd()"></span>
                            </button>
                        </div>
                    </div>
                    <h3>新增题目</h3>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>题目编号</th>
                                <th>题目分数</th>
                            </tr>
                        </thead>
                        <tbody id="questions_add">
                        </tbody>
                    </table>
                </div>
                <div th:each="question:${questions}" th:if="${not #lists.isEmpty(questions)}">
                    <div class="panel panel-default" th:id="${question.question_id}">
                        <div class="btn-group btn-group-xs delete" role="group" style="display: none">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-trash"
                                    th:onclick="'javascript:deleteQuestion(\''+${question.question_id}+'\')'"
                                    onclick="deleteQuestion(1)"></span>
                            </button>
                        </div>
                        <div class="panel-heading" th:text="题目编号+${question.question_id}">题目编号
                        </div>
                        <div class="panel-body" style="padding: 0%">
                            <textarea class="form-contrl content"
                                style="border: none;resize:none;width: 100%;padding: 1% 0.5%" readonly
                                th:text="${question.stem}">测试</textarea>
                        </div>

                        <!-- List group -->
                        <ul class="list-group" th:each="selection:${question.selections}">
                            <li class="list-group-item" style="padding: 0%">
                                <input type="text" class="selections form-contrl list-group-item"
                                    style="border: none;resize:none;width: 100%" readonly th:text="${selection}">
                            </li>
                        </ul>

                        <li class="list-group-item answer" th:text="正确答案+${question.answer}">正确答案
                            <div class="row">
                                <div class="col-lg-3" style="padding: 0% 5%">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="answer" class="check checked_1" disabled>
                                        </span>
                                        <input type="text" class="form-control" value="A选项" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="padding: 0% 5%">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="answer" class="check checked_2" disabled>
                                        </span>
                                        <input type="text" class="form-control" value="B选项" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="padding: 0% 5%">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="answer" class="check checked_3" disabled>
                                        </span>
                                        <input type="text" class="form-control" value="C选项" disabled>
                                    </div>
                                </div>
                                <div class="col-lg-3" style="padding: 0% 5%">
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <input type="radio" name="answer" class="check checked_4" disabled>
                                        </span>
                                        <input type="text" class="form-control" value="D选项" disabled>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item" style="padding: 0%">
                            <p>
                                <div class="btn-group btn-group-xs delete" role="group">
                                    <button type="button" class="btn btn-default editScore" style="display:none">
                                        <span class="glyphicon glyphicon-pencil"
                                            th:onclick="'javascript:editScore(\''+${question.question_id}+'\')'"></span>
                                    </button>
                                    <button type="button" class="btn btn-default submitScore" style="display:none">
                                        <span class="glyphicon glyphicon-ok"
                                            th:onclick="'javascript:submitScore(\''+${question.question_id}+'\')'"></span>
                                    </button>
                                </div>
                                分数:
                                <input type="text" class="score" th:value="${question.score}"
                                    style="border: hidden;background: 0%;width: 100%" disabled>
                            </p>

                        </li>
                    </div>

                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination navbar-right" id="select">
                        <li>
                            <a aria-label="Previous" id="before">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li id="last">
                            <a aria-label="Next" id="after">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        var title = [[${ title }]];
        var duration = [[${ duration }]];
        var test_paper_id = [[${ test_paper_id }]];
        var questions = [[${ questions }]];
        initData(title, duration, test_papere_id);
    });
</script>

</html>