<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/navigation.css">
    <script src="../static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="../static/bootstrap/js/popper.min.js"></script>
    <script src="../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../static/js/questions.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">教师题库</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <button type="button" class="btn btn-default" aria-label="Left Align">
                        <span class="glyphicon glyphicon-search" aria-hidden="true" onclick="searchQuestion()"></span>
                    </button>
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="http://localhost/index">首页</a></li>
                    <li class="active"><a href="#">题库</a></li>
                    <li><a href="http://localhost/papers">试卷</a></li>
                    <li><a href="http://localhost/exams">测试</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div th:each="question:${questions}">
                    <div class="panel panel-default">

                        <div class="panel-heading" th:text="题目+${question.question_id}">题目1
                            <div class="btn-group btn-group-xs navbar-right"  role="group">
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"
                                    th:onclick="'javascript:editQuestion(\''+${question.question_id}+'\')'"></span>
                                </button>
                                <button type="button" class="btn btn-default">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"
                                        th:onclick="'javascript:deleteQuestion(\''+${question.question_id}+'\')'"></span>
                                </button></div>
                        </div>
                        <div class="panel-body">
                            <p th:text="${question.stem}"></p>
                        </div>

                        <!-- List group -->
                        <ul class="list-group" th:each="selection:${question.selections}">
                            <li class="list-group-item" th:text="${selection}"></li>
                        </ul>
                        <li class="list-group-item" th:text="正确答案:${question.answer}"></li>
                    </div>
                </div>
                <nav aria-label="Page navigation">
                    <ul class="pagination navbar-right" id="select">
                        <li>
                            <a aria-label="Previous" id="before">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li id="last">
                            <a aria-label="Next" id="after">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</body>

</html>