<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/record.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">教师题库</a>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../index">首页<span class="sr-only">(current)</span></a>
                </li>
                <li><a href="../question/list/1">题库</a></li>
                <li><a href="../test_paper/list/1">试卷</a></li>
                <li><a href="../test/list/1">测试</a></li>
                <li><a href="../student/list/1">学生</a></li>
                <li class="active"><a href="list/1">测试记录</a></li>
                <li><a href="../logout"></a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div>
                <h1 class="page-header">总体</h1>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>测试名称</th>
                            <th>总人数</th>
                            <th>平均分</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr >
                            <td th:text="${title}"></td>
                            <td th:text="${students_num}"></td>
                            <td th:text="${student_average}"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
                <h2>具体情况</h2>
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>学号</th>
                        <th>姓名</th>
                        <th>得分</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="student:${students}">
                        <td th:text="${student.student_id}"></td>
                        <td th:text="${student.student_name}"></td>
                        <td th:text="${student.score}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>

</html>