<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>试卷</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/navigation.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/students.js"></script>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">教师题库</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <form class="navbar-form navbar-right">
                    <input type="text" class="form-control" placeholder="Search...">
                    <image class="" src="/static/img/search.png" style="width: 30px;height:30px" onclick="" />
                </form>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                <ul class="nav nav-sidebar">
                    <li><a href="../../index">首页</a></li>
                    <li><a href="../../question/list/1">题库</a></li>
                    <li><a href="../../test_paper/list/1">试卷</a></li>
                    <li><a href="../../test/list/1">测试</a></li>
                    <li class="active"><a href="#">学生</a></li>
                </ul>
            </div>

            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                <div style="display: none" id="add">
                    <h1>添加学生</h1>
                    <div class="input-group col-sm-6">
                        <span class="input-group-addon">姓名</span>
                        <input type="text" class="form-control name">
                        <span class="input-group-addon">学号(min)</span>
                        <input type="text" class="form-control student_id">
                        <span class="input-group-addon">密码(min)</span>
                        <input type="text" class="form-control password">
                        <div class="input-group-btn navbar-right">
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-ok" onclick="addStudent()"></span>
                            </button>
                            <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-remove" onclick="cancelAdd()"></span>
                            </button>
                        </div>
                    </div>
                    <br>
                </div>
                <div id="students">
                    <div th:if="${total_page} le 0">
                        <h1>你还没有添加学生</h1>
                    </div>
                    <div class="btn-group navbar-right" role="group">
                        <button type="button" class="btn btn-default" id="edit">
                            <span class="glyphicon glyphicon-plus" onclick="addStudents()"></span>
                        </button>
                    </div>
                    <div th:if="${total_page} gt 0">
                        <h2>所有学生</h2>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>学号</th>
                                    <th>姓名</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="student:${students}">
                                    <td><a th:href="@{'../'+${student.student_id}}" th:text="${student.student_id}"></a>
                                    </td>
                                    <td th:text="${student.name}"></td>
                                </tr>
                            </tbody>
                        </table>
                        <nav aria-label="Page navigation">
                            <ul class="pagination navbar-right" id="select">
                                <li>
                                    <a aria-label="Previous" id="before">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li id="last">
                                    <a aria-label="Next" id="after">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>

            </div>


        </div>
    </div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        var total_page = [[${ total_page }]];
        var page = [[${ page }]];
        initData(total_page, page);
    });
</script>

</html>