<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>学生详情</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <script src="/static/bootstrap/js/jquery-3.4.1.min.js"></script>
    <script src="/static/bootstrap/js/popper.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/student.js"></script>
</head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">教师题库</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <input type="text" class="form-control" placeholder="Search...">
                <image class="" src="/static/img/search.png" style="width: 30px;height:30px" onclick="" />
            </form>
        </div>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../index">首页</a></li>
                <li><a href="../question/list/1">题库</a></li>
                <li><a href="../test_paper/list/1">试卷</a></li>
                <li><a href="../test/list/1">测试</a></li>
                <li class="active"><a href="../student/list/1">学生</a></li>
                <li><a href="../record/list/1">记录</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-chevron-left" onclick="back()"></span>
                </button>
            </div>
            <div class="btn-group navbar-right" role="group">
                <button type="button" class="btn btn-default" id="edit">
                    <span class="glyphicon glyphicon-pencil" onclick="editStudent()"></span>
                </button>
                <button type="button" class="btn btn-default" id="remove">
                    <span class="glyphicon glyphicon-remove" onclick="removeStudent()"></span>
                </button>
                <button type="button" class="btn btn-default submit" style="display: none">
                    <span class="glyphicon glyphicon-ok" onclick="submitStudent()"></span>
                </button>
                <button type="button" class="btn btn-default cancel" id="cancel" style="display: none">
                    <span class="glyphicon glyphicon-remove" onclick="cancelEdit()"></span>
                </button>
            </div>
            <div>
                <h3><p th:text="'学生ID:'+${student_id}"></p>
                </h3>
                <h3>学生姓名:<input type="text" class="edit" id="name"
                                style="border: hidden;background: 0%" th:value="${name}" disabled>
                </h3>
                <h3 class="pass" style="display: none">学生密码:
                    <input type="text" class="edit" id="password" th:value="${password}"
                           style="border: hidden;background: 0%" disabled>
                </h3>
            </div>
        </div>


    </div>
</div>
</body>
<script th:inline="javascript">
    $(document).ready(function () {
        var student_id=[[${student_id}]];
        var name=[[${name}]];
        var password=[[${password}]];
        console.log(name);
        initData(student_id,name,password);
    });
</script>

</html>